<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Your Passowrd</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta property="og:site_name" content="Credet" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Credet | Open wallet for the world" />
    <meta property="og:url" content="https://credet.app/" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta
      name="description"
      content="Credet is simplifying how the world banks and does commerce through an open wallet infrastructure. We make it easy for people to do more with their money, and businesses to accept payments. Our goal is to be the people's bank."
      property="og:description"
    />
    <meta
      name="keywords"
      content="Credet, Eric Aidoo, Digital Wallet Cross-Border Payment, Payment Processing, Payment Rails, Infrastructure for Modern Commerce, High Yield Account, Save, Send Money, Earn Money"
    />
    <meta property="twitter:label1" content="Written by" />
    <meta property="twitter:data1" content="Credet" />
    <meta property="twitter:site" content="Credet" />
    <meta property="twitter:url" content="https://credet.app/" />
    <meta property="MobileOptimized" content="width" />
    <link rel="icon" type="image/png" href="" />
    <link rel="stylesheet" href="/styles/index.css" />
    <meta http-equiv="Content-Security-Policy" content="base-uri 'self'" />
    <script type="text/javascript" nonce="<%= nonce %>"></script>
  </head>
  <body>
    <main>
      <div class="container">
        <p><%= email %></p>
        </div>
      </div>
      </div>
    </main>
  </body>
</html>
